.tweets
  %ul.bar
    %li.bar-index 投稿一覧
    %li.bar-tweet 投稿する
  %article
    %section
      - @tweets.each do |tweet|
        .tweet
          - if user_signed_in?
            %span.tag#tag▼
            %ul.menu#menu
              %li.edit
                = link_to "編集", "/tweets/#{tweet.id}/edit/", method: :get
              %li.delete
                = link_to "削除", "/tweets/#{tweet.id}/", method: :delete
          = tweet.tweet
      = paginate(@tweets)

    %section
      .new
        = form_with url: tweets_path, method: :post, local: true, class: 'box' do |f|
          %h1 新規投稿
          .form-box
            = f.text_field :tweet, placeholder: '今の気持ちを入れてみようか', class: 'form'
            = f.submit '送信', class: 'submit'
